<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZiveLab.Device.ZIM.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Device.ZIM.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZiveLab.Device.ZIM.Win.Properties.Settings>
            <setting name="ExpectedZ" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MaxVrms" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RequestedSNR" serializeAs="String">
                <value>30</value>
            </setting>
        </ZiveLab.Device.ZIM.Win.Properties.Settings>
        <Device.ZIM.Win.Properties.Settings>
            <setting name="ExpectedZ" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MaxVrms" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RequestedSNR" serializeAs="String">
                <value>30</value>
            </setting>
        </Device.ZIM.Win.Properties.Settings>
    </userSettings>
</configuration>