<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="App.Zim.Player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestZIM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <App.Zim.Player.Properties.Settings>
            <setting name="ExpectedZ" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MaxVrms" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RequestedSNR" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IP0" serializeAs="String">
                <value>169</value>
            </setting>
            <setting name="IP1" serializeAs="String">
                <value>254</value>
            </setting>
            <setting name="IP2" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="IP3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="PathSIFFW" serializeAs="String">
                <value />
            </setting>
            <setting name="PathZIMFW" serializeAs="String">
                <value />
            </setting>
            <setting name="FileNameZIMFW" serializeAs="String">
                <value />
            </setting>
            <setting name="FileNameSIFFW" serializeAs="String">
                <value />
            </setting>
            <setting name="PathRangeInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="PathWebService" serializeAs="String">
                <value />
            </setting>
            <setting name="Inductance0" serializeAs="String">
                <value>5.7367E-08</value>
            </setting>
            <setting name="Inductance1" serializeAs="String">
                <value>5.247E-08</value>
            </setting>
            <setting name="Inductance2" serializeAs="String">
                <value>1.07241E-07</value>
            </setting>
            <setting name="Inductance3" serializeAs="String">
                <value>1.893E-06</value>
            </setting>
            <setting name="RDummy0" serializeAs="String">
                <value>0.00998886</value>
            </setting>
            <setting name="RDummy1" serializeAs="String">
                <value>0.09982</value>
            </setting>
            <setting name="RDummy2" serializeAs="String">
                <value>1.00061</value>
            </setting>
            <setting name="RDummy3" serializeAs="String">
                <value>9.96536</value>
            </setting>
            <setting name="PathData" serializeAs="String">
                <value />
            </setting>
            <setting name="Power" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RefreshTime" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="BatParaFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnDelay" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="CommTimeOut" serializeAs="String">
                <value>8000</value>
            </setting>
        </App.Zim.Player.Properties.Settings>
        <TestZIM.Properties.Settings>
            <setting name="ExpectedZ" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MaxVrms" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RequestedSNR" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IP0" serializeAs="String">
                <value>169</value>
            </setting>
            <setting name="IP1" serializeAs="String">
                <value>254</value>
            </setting>
            <setting name="IP2" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="IP3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="PathSIFFW" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathZIMFW" serializeAs="String">
                <value/>
            </setting>
            <setting name="FileNameZIMFW" serializeAs="String">
                <value/>
            </setting>
            <setting name="FileNameSIFFW" serializeAs="String">
                <value/>
            </setting>
        </TestZIM.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
