 create_clock -period 1000.000 -waveform {0.000 500.000} -name {zim|clk_RTD} [ get_nets clk_RTD ]
 create_clock -period 1000.000 -waveform {0.000 500.000} -name {zim|ICE_SYSCLK} [ get_nets ICE_SYSCLK ]
 create_clock -period 1000.000 -waveform {0.000 500.000} -name {zim|DDS_MCLK1} [ get_nets DDS_MCLK1 ]
 create_clock -period 1000.000 -waveform {0.000 500.000} -name {zim|ICE_SPI_SCLK} [ get_nets ICE_SPI_SCLK ]
 create_clock -period 1000.000 -waveform {0.000 500.000} -name {zim|VDC_CLK} [ get_nets VDC_CLK ]
 set_false_path -from [ get_clocks {zim|DDS_MCLK1} ] -to [ get_clocks {zim|ICE_SPI_SCLK} ]
 set_false_path -from [ get_clocks {zim|DDS_MCLK1} ] -to [ get_clocks {zim|ICE_SYSCLK} ]
 set_false_path -from [ get_clocks {zim|DDS_MCLK1} ] -to [ get_clocks {zim|VDC_CLK} ]
 set_false_path -from [ get_clocks {zim|DDS_MCLK1} ] -to [ get_clocks {zim|clk_RTD} ]
 set_false_path -from [ get_clocks {zim|ICE_SPI_SCLK} ] -to [ get_clocks {zim|DDS_MCLK1} ]
 set_false_path -from [ get_clocks {zim|ICE_SPI_SCLK} ] -to [ get_clocks {zim|ICE_SYSCLK} ]
 set_false_path -from [ get_clocks {zim|ICE_SPI_SCLK} ] -to [ get_clocks {zim|VDC_CLK} ]
 set_false_path -from [ get_clocks {zim|ICE_SPI_SCLK} ] -to [ get_clocks {zim|clk_RTD} ]
 set_false_path -from [ get_clocks {zim|ICE_SYSCLK} ] -to [ get_clocks {zim|DDS_MCLK1} ]
 set_false_path -from [ get_clocks {zim|ICE_SYSCLK} ] -to [ get_clocks {zim|ICE_SPI_SCLK} ]
 set_false_path -from [ get_clocks {zim|ICE_SYSCLK} ] -to [ get_clocks {zim|VDC_CLK} ]
 set_false_path -from [ get_clocks {zim|ICE_SYSCLK} ] -to [ get_clocks {zim|clk_RTD} ]
 set_false_path -from [ get_clocks {zim|VDC_CLK} ] -to [ get_clocks {zim|DDS_MCLK1} ]
 set_false_path -from [ get_clocks {zim|VDC_CLK} ] -to [ get_clocks {zim|ICE_SPI_SCLK} ]
 set_false_path -from [ get_clocks {zim|VDC_CLK} ] -to [ get_clocks {zim|ICE_SYSCLK} ]
 set_false_path -from [ get_clocks {zim|VDC_CLK} ] -to [ get_clocks {zim|clk_RTD} ]
 set_false_path -from [ get_clocks {zim|clk_RTD} ] -to [ get_clocks {zim|DDS_MCLK1} ]
 set_false_path -from [ get_clocks {zim|clk_RTD} ] -to [ get_clocks {zim|ICE_SPI_SCLK} ]
 set_false_path -from [ get_clocks {zim|clk_RTD} ] -to [ get_clocks {zim|ICE_SYSCLK} ]
 set_false_path -from [ get_clocks {zim|clk_RTD} ] -to [ get_clocks {zim|VDC_CLK} ]
