<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZiveLab.ZM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZiveLab.MBZA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZiveLab.ZM.Properties.Settings>
            <setting name="RtGrp_BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="RtGrp_Plot1_Color" serializeAs="String">
                <value>MediumBlue</value>
            </setting>
            <setting name="RtGrp_Plot2_Color" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="RtGrp_Plot_ViewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RtGrp_Plot_ViewPoint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NiGrp_Backcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NiGrp_Plot1_color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="BdGrp_Plot1_color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="BdGrp_Plot2_color" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="RtGrp_Axis_Color" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="NiGrp_Axis_Color" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="BdGrp_Axis_Color" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="BdGrp_Backcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BdGrp_Grid_Color" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="NiGrp_Grid_Color" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="BdGrp_Plot1_Lineview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Plot2_Lineview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NiGrp_Grid_View" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NiGrp_Legend_View" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Legend_View" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Grid_Y1view" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Grid_Y2view" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NiGrp_Plot1_Pointview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NiGrp_Plot1_Lineview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Plot1_Pointview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BdGrp_Plot2_Pointview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BdGrp_Plot3_Lineview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Plot3_Pointview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BdGrp_Plot4_Lineview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Plot4_Pointview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NiGrp_Plot2_Lineview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NiGrp_Plot2_Pointview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RtGrp_GridColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="RtGrp_GridView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotColor11" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="GrpPlotColor12" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="GrpPlotColor13" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="GrpPlotColor14" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="GrpPlotColor15" serializeAs="String">
                <value>Olive</value>
            </setting>
            <setting name="GrpPlotColor16" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="GrpAxisColor1" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="GrpGridColor1" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="GrpBackColor1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GrpPlotColor21" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="GrpPlotColor22" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="GrpPlotColor23" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="GrpPlotColor24" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="GrpPlotColor25" serializeAs="String">
                <value>Olive</value>
            </setting>
            <setting name="GrpPlotColor26" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="GrpAxisColor2" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="GrpGridColor2" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="GrpBackColor2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GrpPlotLine11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine13" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine14" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine15" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine16" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint13" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint14" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint15" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint16" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine21" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine22" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine23" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine24" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine25" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine26" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint21" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint22" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint23" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint24" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint25" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint26" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpAxisGridY11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrpAxisGridY12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrpAxisGridY21" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrpAxisGridY22" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrpAxisGridX1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrpAxisGridX2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrpViewLegend1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpViewLegend2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxWinCh" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="GrpMaxWinCh" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RtGrpLegendView" serializeAs="String">
                <value>True</value>
            </setting>
        </ZiveLab.ZM.Properties.Settings>
        <ZiveLab.MBZA.Properties.Settings>
            <setting name="RtGrp_BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="RtGrp_Plot1_Color" serializeAs="String">
                <value>MediumBlue</value>
            </setting>
            <setting name="RtGrp_Plot2_Color" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="RtGrp_Plot_ViewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RtGrp_Plot_ViewPoint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NiGrp_Backcolor" serializeAs="String">
                <value />
            </setting>
            <setting name="NiGrp_Plot1_color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="BdGrp_Plot1_color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="BdGrp_Plot2_color" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="RtGrp_Axis_Color" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="NiGrp_Axis_Color" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="BdGrp_Axis_Color" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="BdGrp_Backcolor" serializeAs="String">
                <value />
            </setting>
            <setting name="BdGrp_Grid_Color" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="NiGrp_Grid_Color" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="BdGrp_Plot1_Lineview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Plot2_Lineview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NiGrp_Grid_View" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NiGrp_Legend_View" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Legend_View" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Grid_Y1view" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Grid_Y2view" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NiGrp_Plot1_Pointview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NiGrp_Plot1_Lineview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Plot1_Pointview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BdGrp_Plot2_Pointview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BdGrp_Plot3_Lineview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Plot3_Pointview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BdGrp_Plot4_Lineview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BdGrp_Plot4_Pointview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NiGrp_Plot2_Lineview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NiGrp_Plot2_Pointview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RtGrp_GridColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="RtGrp_GridView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotColor11" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="GrpPlotColor12" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="GrpPlotColor13" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="GrpPlotColor14" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="GrpPlotColor15" serializeAs="String">
                <value>Olive</value>
            </setting>
            <setting name="GrpPlotColor16" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="GrpAxisColor1" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="GrpGridColor1" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="GrpBackColor1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GrpPlotColor21" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="GrpPlotColor22" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="GrpPlotColor23" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="GrpPlotColor24" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="GrpPlotColor25" serializeAs="String">
                <value>Olive</value>
            </setting>
            <setting name="GrpPlotColor26" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="GrpAxisColor2" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="GrpGridColor2" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="GrpBackColor2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GrpPlotLine11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine13" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine14" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine15" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine16" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint13" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint14" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint15" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint16" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine21" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine22" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine23" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine24" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine25" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotLine26" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint21" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint22" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint23" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint24" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint25" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpPlotPoint26" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpAxisGridY11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrpAxisGridY12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrpAxisGridY21" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrpAxisGridY22" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrpAxisGridX1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrpAxisGridX2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrpViewLegend1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrpViewLegend2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxWinCh" serializeAs="String">
                <value>-1</value>
            </setting>
        </ZiveLab.MBZA.Properties.Settings>
    </userSettings>
</configuration>